<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.PmsCategoryMapper">

    <resultMap id="BaseResultMap" type="com.example.back.entity.pms.PmsCategory">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="form_config" property="formConfig"/>
        <result column="sort" property="sort"/>
        <result column="is_show" property="isShow"/>
    </resultMap>

    <select id="selectByParentId" resultMap="BaseResultMap">
        SELECT id, parent_id, name, icon, form_config, sort, is_show
        FROM pms_category
        WHERE parent_id = #{parentId} AND is_show = 1
        ORDER BY sort ASC
    </select>

    <select id="selectAllShow" resultMap="BaseResultMap">
        SELECT id, parent_id, name, icon, form_config, sort, is_show
        FROM pms_category
        WHERE is_show = 1
        ORDER BY parent_id, sort ASC
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT id, parent_id, name, icon, form_config, sort, is_show
        FROM pms_category
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.back.entity.pms.PmsCategory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_category (parent_id, name, icon, form_config, sort, is_show)
        VALUES (#{parentId}, #{name}, #{icon}, #{formConfig}, #{sort}, #{isShow})
    </insert>

    <update id="update" parameterType="com.example.back.entity.pms.PmsCategory">
        UPDATE pms_category
        SET parent_id = #{parentId},
            name = #{name},
            icon = #{icon},
            form_config = #{formConfig},
            sort = #{sort},
            is_show = #{isShow}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM pms_category WHERE id = #{id}
    </delete>

    <select id="pageQuery" resultMap="BaseResultMap">
        SELECT id, parent_id, name, icon, form_config, sort, is_show
        FROM pms_category
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        ORDER BY sort ASC, id ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>

</mapper>
